<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
     <title>Digital Hymnboard</title>
    <link rel="stylesheet" href="/scripts/css/bootstrap-theme.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/public/hymnboard.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>

<body>
<div style="width:720px; height:1280px;overflow:hidden">
	<div class="row">
		<div class="col-md-12">
			<table class="table" id="boardtable">

				<tbody>
					<tr>
						<td>
							1
						</td>
				
					</tr>
					<tr>
						<td>
							2
						</td>
				
					</tr>
					<tr>
						<td>
							3
						</td>
				
					</tr>
					<tr>
						<td>
							4
						</td>
					<tr>
						<td>
							5
						</td>
				
					</tr>				
					</tr>										
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>


</script>
</body>
