<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Digital Hymnboard for <%= orgName %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/boostrap-darkly.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Digital Hymnboard for <%= orgName %></h1>


        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a> <a href="/board" class="btn btn-default"><span class="fa fa-user"></span>Board</a> 

        
       
    </div>

</div>
</body>
</html>
